

/******************* GRID BÁSICA - INICIO *****************/
.main_container {
    background-color: chocolate;
    display: grid;
    grid-template: 160px 40px 1fr 120px / 400px 1fr;  /* filas / columnas */
    grid-template-areas: "area_header area_header"
                         "area_nav area_nav"
                         "area_aside area_contenido"
                         "area_footer area_footer";
    height: 100vh;
    grid-gap: 10px;
}

/* Vinculo el "header" con el área 
definida en "grid-template-areas" */
.header {
    grid-area: area_header;
    border-radius: 8px;
}

/* Vinculo el "nav_bar" con el área
definida en "grid-template-areas" */
.nav_bar {
    grid-area: area_nav;
    border-radius: 8px;
}

/* Vinculo el "aside" con el área
definida en "grid-template-areas" */
.aside {
    grid-area: area_aside;   
    border-radius: 8px;
}

/* Vinculo el "contenido" con el área
definida en "grid-template-areas" */
.contenido {
    grid-area: area_contenido;
    border-radius: 8px;
}

/* Vinculo el "footer" con el área
definida en "grid-template-areas" */
.footer_container {
    grid-area: area_footer;
    border-radius: 8px;
}

/********************* GRID BÁSICA - FIN *******************/

.main_container {
    font-size: var(--font-medium);
}

.products_container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    overflow-y: scroll;
}

div {
    /*display: inline-block;*/
    display: flex;
    flex-direction: column;
    background-color: yellow;
    border: solid 2px;
    width: 50;
    height: 50;
}

/* Aplicando algo así como expresiones regulares como selectores en CSS: */
/* https://medium.com/yonder-techblog/css-regex-attribute-selectors-98075b7f4726 */

[class^="Item"] {
    background-color:burlywood;
    max-width: 250px;
    height: 450px;
}

.nav_bar_list {
    display: flex;
    flex-direction: row;  /*Es el valor por defecto, no es necesario*/
    justify-content: space-around;
    align-content: center;
    list-style: none;  /*Le saco la viñeta a los elementos de la lista desordenada.*/
}

.nav_bar_list > li > a {
    text-decoration: none;   /*Le quito la apariencia de enlace a los anchors.*/
}

.aside_list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;  /*Le saco la viñeta a los elementos de la lista desordenada.*/

}

.aside_list > li > a {
    text-decoration: none;   /*Le quito la apariencia de enlace a los anchors.*/
}

.footer_list {
    display: flex;
    flex-direction: row;  /*Es el valor por defecto, no es necesario*/
    justify-content: space-around;
    align-items: center;
    list-style: none;  /*Le saco la viñeta a los elementos de la lista desordenada.*/
}

.footer_list > li > a {
    text-decoration: none;   /*Le quito la apariencia de enlace a los anchors.*/
    align-items: center;
}
